.idea/
reports
spec/reports
coverage/
.DS_Store
*.pid
*.log
pkg
doc/
*.gem
*.rbc
*.bundle
.config
.yardoc
InstalledFiles
_yardoc
.yardoc
lib/bundler/man
rdoc
test/tmp
test/version_tmp
tmp
*.so
*.o
*.a
*.sqlite3
mkmf.log
